
@{
    ViewBag.Title = "Trang Quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-home">&nbsp;Admin</i>
}

<div>
    <ul>
        <li>Họ và Tên: Cao Thị Thu Hiền</li>
        <li>SDT: 0345749484</li>
        <li>Email: caohien0503@gmail.com</li>
        <li>Địa chỉ: Đà Nẵng</li>
    </ul>
</div>
